*~
.Rhistory
library
*.rds
*.png
*.RData
*.tgz
Rplots.pdf
data
README.html
predictions
tikzMetrics
*.aux
HOCKING-notes.pdf
*.log
*.csv
.httr-oauth
auto
aichi-backup
figure-*/
figure-*.tex
figure-*.pdf